
gradient(origin, start, stop)
  background-color: start
  background-image: linear-gradient(origin, start, stop)

drop-shadow(inset, x, y, blur, spread, alpha)
  box-shadow: inset x y blur spread alpha

staff-filter(b)
  filter: blur(b) grayscale(1)
