
body
  scroll-behavior: smooth

.overlay
  background-color: $darkest
  bottom: 0
  position: fixed
  top: 0
  width: 100vw
  z-index: -3

.background-video
  margin: 0 -11vw
  opacity: .25
  overflow-x: hidden
  position: fixed
  width: 122vw
  z-index: -1

  video
    width: 100%

.wrapper
  height: 100vh
  width: 100vw

  .main
    height: 100%

    aside
      height: 100vh
      padding: $top-margin 2% 0
      position: fixed
      top: 0
      width: $sidebar-width
      z-index: 999

    section
      padding-left: $sidebar-width

.grid
  margin-left: 40px
  max-width: 930px

  @media screen and (max-width: 1200px)
  	max-width: 900px

.panes
  transition: 800ms

.pane
  height: 100vh
  padding-top: 100px
  position: relative

  &#intro
    padding-top: 0

  &#program
    padding-top: 220px

    .next
      bottom: 300px

  &#people
    height: 76vh
    padding-top: 220px

  &#foundation
    height: 75vh
    padding-top: 270px

  &#perspective
    height: 80vh
    padding-top: 220px

    .next span
      margin-left: -30px

  &#faq
    height: 81vh
    padding-top: 220px

  &#resources
    height: 88vh
    padding-top: 220px

#morefaq
  background-color: rgba($darkest, 0.9)
  height: 80vh
  left: 5%
  top: 100px
  width: 90%
  z-index: 999

  .modal-content
    background-color: transparent
    top: 0

  .closebtn
    color: $white

  p.a:last-child
    border: none
    padding-bottom: 100px

.flex
  display: flex

  .three
    flex: 1
    margin-bottom: 60px
