
img.logo.fade(src='/images/logo.svg' alt='Next Generation Underwriters white logo')

nav

  ul.nav(role="tablist")

    li.active
      a.icon-acorn(href='#intro') 
      
        span.label.multi A Tradition of 
          br
          | Strength &amp; Trust

    li
      a.icon-leaf(href='#program') 
        
        span.label Our Program

    li
      a.icon-knife(href='#people') 
        
        span.label Our People

    li
      a.loc.icon-compass(href='#foundation') 
    
        span.label Our Foundation
    
    li
      a.loc.icon-telescope(href='#perspective') 
    
        span.label Our Perspective
    
    li
      a.loc.icon-sign(href='#faq') 
    
        span.label.multi Frequently 
          br
          | Asked Questions
    
    li
      a.loc.icon-boat(href='#resources') 
    
        span.label Resources
