.content

  .panes

    .pane#resources

      p.intro If we can help you with your risk management needs or you have questions about what we can do for you, please don’t hesitate to give us a call or complete the online contact form linked below.
      a.arrow(href='#contact') Contact NGU

      p.intro If you have experienced an event which you feel requires a claim on your policy, please complete the form linked below and we will be more than happy to walk you through everything and resolve your issue.
      a.arrow(href='https://my.marshclearsight.com/hydra_customlogin' target='_blank') File a Claim

      p.intro To request a Certificate of Insurance or an Endorsement from the Tennessee Risk Management Trust, you can complete the forms linked below.
      a.arrow(href='#risk') Builders Risk Coverage Application
      a.arrow(href='#property') Add or Remove Property
      a.arrow(href='#vehicle') Add or Remove Vehicle
      a.arrow(href='#certificate') Certificate of Insurance Request Form
      
      p.intro Links to information and services that benefit our clients. Please let us know if there is any other information you feel would be helpful to see here.
      a.arrow(href='#links') Helpful Links

      #contact.modal
        .modal-content
          .container
            a.closebtn(href="#resources") close
            h3.headline Contact NGU
            form(action="resources" id="contact-form" method="post" role="form")
              fieldset
                label(for="name") Name &#42;
                input(id="name" name="name" type="text" placeholder="Your name" required="required")
                label(for="email") Email &#42;
                input(id="email" name="email" type="text" placeholder="Your email" required="required")
                label(for="message") Message &#42;
                textarea(id="message" name="message" placeholder="Enter your message here" rows="3" required="required")
                button(type="submit") Submit

      #risk.modal
        .modal-content
          .container
            a.closebtn(href="#resources") close
            h3.headline Builders Risk Coverage Application
            p Some text in the modal.

      #property.modal
        .modal-content
          .container
            a.closebtn(href="#resources") close
            h3.headline Add or Remove Property
            p Some text in the modal.

      #vehicle.modal
        .modal-content
          .container
            a.closebtn(href="#resources") close
            h3.headline Add or Remove Vehicle
            p Some text in the modal.

      #certificate.modal
        .modal-content
          .container
            a.closebtn(href="#resources") close
            h3.headline Certificate of Insurance Request Form
            p Some text in the modal.

      #links.modal
        .modal-content
          .container
            a.closebtn(href='#resources') close
            h3.headline Helpful Links
            a(href='http://get.teamviewer.com/n6qeats' target='_blank') Remote Support with Kyle
            a(href='http://www.ambest.com/' target='_blank') A.M.Best
            a(href='http://www.acord.com/' target='_blank') Acord
            a(href='http://www.agrip.org/' target='_blank') Association of Governmental Risk Pools (AGRIP)
            a(href='http://www.ctas.tennessee.edu' target='_blank') County Technical Assistance Service (CTAS)
            a(href='http://portal.ngutn.com/' target='_blank') Employee Webmail
            a(href='http://www.insurors.org' target='_blank') Insurors of Tennessee
            a(href='http://www.naco.org' target='_blank') National Association of Counties (NaCO)
            a(href='http://www.ncci.com' target='_blank') National Council on Compensation Insurance (NCCI)
            a(href='http://www.nlc.org' target='_blank') National League of Cities
            a(href='http://sectn.com' target='_blank') Safety Engineering & Claims Management
            a(href='https://www.csstars.com/Enterprise/login.cmdx' target='_blank') Stars Enterprise
            a(href='http://www.stopitcyberbully.com/TNRMT' target='_blank') STOP!T
            a(href='http://www.tasbo.net' target='_blank') Tennessee Association of School Business Officials (TASBO)
            a(href='http://www.taud.org' target='_blank') Tennessee Association of Utility Districts (TAUD)
            a(href='https://www.tn.gov/workforce/section/injuries-at-work' target='_blank') Tennessee Bureau of Workers' Compensation
            a(href='http://www.state.tn.us' target='_blank') Tennessee Department of Commerce and Insurance
            a(href='http://www.tmepa.org' target='_blank') Tennessee Municipal Electric Power Association
            a(href='http://www.tnsupts.org' target='_blank') Tennessee Organization of School Superintendents (TOSS)
            a(href='http://www.tnrmt.com' target='_blank') Tennessee Risk Management Trust (TNRMT)
            a(href='http://www.tsba.net' target='_blank') Tennessee School Boards Association (TSBA)
            a(href='http://www.tsmpa.com' target='_blank') Tennessee School Plant Management Association (TSMPA)
